# Compiled source #
###################
*.o
*.so
*.pyc
*.txt

# Logs and temporaries #
########################
*.log
*~
.coverage

# Folders #
###########
build/
dist/
*.egg-info/
__pycache__/
.eggs/


exp/
ckpts/
results/
results_adapt/
results_adapt_tmp/
results_noadapt/
results_noadapt_tmp/
score_model/

checkpoints/